/* stylelint-disable scss/no-global-function-names */
html[data-vxe-ui-theme='dark'] {
  --vxe-ui-font-color: #a0a3a7;
  --vxe-ui-font-primary-color: #0084f4;
  --vxe-ui-font-lighten-color: #babdc0;
  --vxe-ui-font-darken-color: #86898e;
  --vxe-ui-font-disabled-color: #bfbfbf;
  --vxe-ui-font-primary-lighten-color: #2a7dc9;
  --vxe-ui-font-primary-darken-color: #004496;

  //  base
  --vxe-ui-base-popup-border-color: var(--vxe-ui-layout-background-color);
  --vxe-ui-base-popup-box-shadow: 0px 12px 30px 8px rgb(0 0 0 / 50%);

  // layout
  --vxe-ui-layout-background-color: #121212;

  // /* input */
  --vxe-ui-input-border-color: #424242;
  --vxe-ui-input-placeholder-color: #8d9095;
  --vxe-ui-input-disabled-background-color: #262727;

  // /* loading */
  --vxe-ui-loading-background-color: rgb(255 255 255 / 10%);

  // /* table */
  --vxe-ui-table-header-background-color: #28282a;
  --vxe-ui-table-border-color: #37373a;
  --vxe-ui-table-row-hover-background-color: #262727;
  --vxe-ui-table-row-striped-background-color: #1d1d1d;
  --vxe-ui-table-row-hover-striped-background-color: #262727;
  --vxe-ui-table-row-radio-checked-background-color: #604820;
  --vxe-ui-table-row-hover-radio-checked-background-color: #6e5326;
  --vxe-ui-table-row-checkbox-checked-background-color: #604820;
  --vxe-ui-table-row-hover-checkbox-checked-background-color: #6e5326;
  --vxe-ui-table-row-current-background-color: #18222c;
  --vxe-ui-table-row-hover-current-background-color: #262727;
  --vxe-ui-table-fixed-scrolling-box-shadow-color: rgb(0 0 0 / 80%);

  color-scheme: dark;
}

html[data-vxe-ui-theme='light'] {
  --vxe-ui-font-color: rgb(0 0 0 / 88%);
  --vxe-ui-font-primary-color: #0084f4;
  --vxe-ui-font-lighten-color: #797b80;
  --vxe-ui-font-darken-color: #47494c;
  --vxe-ui-font-disabled-color: #bfbfbf;
  --vxe-ui-font-primary-lighten-color: #2a7dc9;
  --vxe-ui-font-primary-darken-color: #004496;

  // base
  --vxe-ui-base-popup-border-color: #dadce0;
  --vxe-ui-base-popup-box-shadow: 0 0 10px 0 rgb(0 0 0 / 16%);

  // layout
  --vxe-ui-layout-background-color: #fff;

  // input
  --vxe-ui-input-border-color: #dcdfe6;
  --vxe-ui-input-placeholder-color: #c0c4cc;
  --vxe-ui-input-disabled-background-color: #f3f3f3;

  // loading
  --vxe-ui-loading-background-color: rgb(255 255 255 / 50%);

  // table
  --vxe-ui-table-header-background-color: #f8f8f9;
  --vxe-ui-table-border-color: #e8eaec;
  --vxe-ui-table-row-hover-background-color: #f5f7fa;
  --vxe-ui-table-row-striped-background-color: #fafafa;
  --vxe-ui-table-row-hover-striped-background-color: #f5f7fa;
  --vxe-ui-table-row-radio-checked-background-color: #fff3e0;
  --vxe-ui-table-row-hover-radio-checked-background-color: #ffebbc;
  --vxe-ui-table-row-checkbox-checked-background-color: #fff3e0;
  --vxe-ui-table-row-hover-checkbox-checked-background-color: #ffebbc;
  --vxe-ui-table-row-current-background-color: #e6f7ff;
  --vxe-ui-table-row-hover-current-background-color: #d7effb;
  --vxe-ui-table-fixed-scrolling-box-shadow-color: rgb(0 0 0 / 12%);
}
